@page
@model ProyectoDemoRazorPages.Pages.Clientes.IndexModel
@{
    ViewData["Title"] = "Lista de Clientes";
}


<h1>@ViewData["Title"]</h1>

<h2>Seremos los mejores de ahora en adelante</h2>
<h3>Seremos los de siempre para mejorar los sistemas de software</h3>
<table>
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
            <td>@Html.DisplayFor(modelItem => item.Correo)</td>
        </tr>
        }
    </tbody>
</table>