@page
@model ProyectoDemoRazorPages.Pages.Productos.IndexModel
@{      
    ViewData["Title"] = "List of Products";
}


<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Marca</td>
            <td>@item.Precio</td>
        </tr>
        }



    </tbody>
</table>

